<footer>
    <div class="container">


        <div class="contatos">
            <h1>
                <p>
                    E-mail: josef.sartoi@hotamil.com
                </p><br>
                <p>
                    Telefone (34) 9 7765 8765
                </p><br>
                <p>
                    wathzap (34) 9 7765 8765
                </p>
            </h1>
        </div>

        <div class="endereco">
            <h1>
                <P>Rua Carlos Diego de Camargo Lima, 107</P> <br>
                <P>Res. Maria Gonçalves da Motta </P><br>
                <P>Piraju/SP</P>
            </h1> 

        </div>

        <div class="sobre">
           <li>
                <a href="">Politica de Privacidade</a>
            </li>
           <li>
                <a href="">Politica de venda</a>
            </li>
           <li>
                <a href="">Politica de Devolução</a>
            </li>
        </div>
    </div>
</footer>