<main class="main-1">
    <picture class="banner-one">
        <img src="./images/Group 4bn1.png" alt="banner one">
    </picture>

    <section class="sec-1">
        <h1>Transformação<br>digital</h1>

        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odit nihil et laboriosam cupiditate ipsa quibusdam fugit quia magni aperiam aliquam rem, corrupti deserunt, sed quo voluptatibus dolores consequuntur. Consequuntur.</h2>

        <button class="btn-act" onclick="shownot()" >
            <p>Ativar notificações</p>
        </button>
    </section>
</main>
