<form>
    <li>
        <label for="nome">Nome</label>
        <input type="text" name="nome" placeholder="Ensira seu nome">
    </li>

     <li>
        <label for="email">E-mail</label>
        <input type="text" name="email" placeholder="Ensira seu email">
    </li>


</form>