html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: rgb(241, 249, 255);
    font-size: 1.5rem;
}

p.truncate-31 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.navbar-brand img {
    width: 200px;
    height: 50px;
}

#bnt1 {
    width: 80rem;
    height: 20rem;
    border:none; 
}

#bnt1 .btn {
   
    width: 15rem;

}

    @media (max-width: 767px) {
    #bnt1 {
     
     height: 14.6rem;
    }
 }
 
    @media (max-width: 426px) {
     #bnt1 {
      
      height: 10.6rem;
     }
 }

    @media (max-width: 376px) {
        #bnt1 {
        
        height: 9rem;
    }
        #bnt1 .btn {
        width: 10rem;
        margin-right: 3rem;
        margin-top: 0.7rem; 
    }

}

  