
.main-1 {
    width: 100%;
    display: flex;
    

.banner-one {
    max-width: 60%;
    img {
        padding-left: 10rem;
        width: 100%;
        height: 50rem;
        float: left;
        margin-top: 8rem;
    }
}

.sec-1 {
    margin-top: 11rem;
    padding-left: 10rem;
    max-width: 40%;
    height: 50rem;
    float: right;

    h1 {
        
        top: 5rem;
        font-family: $font-fml;
        font-size: $font-big;
    }
    
    h2 {
        font-family: $font-fml;
        font-size: $font-mediun;
        font-weight: 400;
        margin-top: 3rem;
        padding-right: 6rem;
        opacity: 0.6;
    }

    @import 'components'; 
}

}