header {
    width: 100%;
    height: 9rem;
    display: flex;

    .logo {
        width: 35rem;
        background-color: rgb(255, 208, 0);
        float: left;
        display: flex;
        
      
        
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            z-index: 1;
        }
    }

    .navbar {
        width: 100%;  
        background-color:$bg-second;  
        float: right;
        
        
        ul {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 5rem;
            list-style: none;
            padding-right: 10rem;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                
                
                
                a {
                    font-family: $font-fml;
                    font-size: $font-litle;
                    text-decoration: none;
                    
                    
                }
            }
            }


    }

}