@import url('https://fonts.googleapis.com/css2? família=Montserrat&display=swap');

$bg-color: #FFFFFF;
$bg-foot: #1A1A1A;
$bg-card: #0074FF;
$bg-circle: rgba(0, 116, 255, 0.2);
$bg-second: rgb(117, 208, 253);
$font-fml: 'Montserrat', sans-serif;
$font-big: 6rem;
$font-title: 4.8rem;
$font-mediun: 3.6rem;
$font-small: 2.4rem;
$font-card: 1.8rem;
$font-litle: 1.6rem; 
